.piechart {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: azure;
  }
  .piechart1 {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 25%;
    left: 58%;
    transform: translate(-50%, -50%);
    background-color: azure;
  }
  .piechart2 {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 25%;
    left: 85%;
    transform: translate(-50%, -50%);
    background-color: azure;
  }
  .piechart3 {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: azure;
  }